$base-color: #77A6F7;
$font-color: #444545;

  .Intake-Form {
    color: $font-color;
    background-color: $base-color;
    display: flex;
    flex-direction: column;



    .form-section {
      display: flex;
      flex-direction: column;
     
    }

    Button {
      width: 300px;
      align-self: center;

    }
  }

.header {
  background-color: $font-color;
}
