$base-color: #77A6F7;
$font-color: #444545;
$label-text: #777;

  .Intake-Form {
    color: $font-color;
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    border: 12px solid black;
    justify-content: center;
    align-items: center;
  



    .student-info {
     border: 1px solid black;
     width: 90%;

      .name-age-grade {
        // border: 12px solid grey;
        // justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        // margin: 5%;

        .label-text {
          color: $label-text;
        }

        

      }
      .student-bottom {
        
        
        
      }
     
    }

    .rep-info {
      border: 1px solid black;
      // margin: 5%;
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    Button {
      width: 90%;
      

    }
  }

.header {
  background-color: $font-color;
}
