@mixin messageBox {
  display:block;
  padding: 6px 10px 5px;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  width: auto;
  margin: 10px auto 15px;
}

@mixin errorMessageBox {
  @include messageBox;

  background: #ffdede;
  border-color: #ff000040;
  color: #e00000;
  
}

@mixin sucessMessageBox {
   @include messageBox;

   background:#deffe8;
   border-color: #02e41e40;
   color: #01a95b;
}

@mixin flexBox($direction,$justify-content,$item-align) {
  display:flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $item-align;
}

@mixin size( $height, $width) {
   width: $width;
   height: $height; 
}

@mixin marginAuto($top-bottom) {
  margin-top: $top-bottom;
  margin-bottom: $top-bottom;
  margin-right: auto;
  margin-left: auto;
}

@mixin paddingAll($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}